/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  background: 
    linear-gradient(
      rgba(211, 71, 61, 0.98), 
      rgba(211, 71, 61, 0.98)
    ),
    url('../img/body_background.png') no-repeat 100% 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

.footer a, .footer a:hover{
  color: #a43a32;
  text-decoration: none;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body .main-wrapper {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  color: #a43a32;
  text-align: center;
}


/*Navbar
-------------------------------------------------- */
a.phoodeez-brand{
  font-family: 'Crete Round', serif;
  font-size: 30px;
  color: #d0483e !important;
}

a.phoodeez-brand p{
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin:3px 0 0 0;
}

.navbar-phoodeez{
  background-color: #ecf0f1;
}

.navbar-nav-phoodeez li a{
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-phoodeez li a.cart_dropdown{
  padding-top: 19px;
  padding-bottom: 18px;
  font-size: 25px;
}

.navbar-nav-phoodeez>.open>a{
  color: #d0483e !important;
}

.dropdown-cart{
  background-color: #e7e7e7;
  border:none !important;
  border-radius: 0 !important;
  min-width: 360px;
  padding-top:20px;
  padding-bottom: 20px; 
}

.empty_cart{
  text-align:center;
}

.empty_cart p{
  font-size: 20px;
}

/*Main Content
-------------------------------------------------- */
h1.phoodeez_funnel{
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 70px;
}

.cat_row{
  margin-top: 80px;

}

.cat_row a{
  display: block;
  color: #ffffff;
}

.cat_row a:hover{
  text-decoration: none;
}

.cat_row p{
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

.option_item{
  min-width:215px!important
}

.option-thumb{
  height: 200px;
  margin-bottom: 8px;
}

.option_meeting{
  background: url('../img/cat_pics/meeting1.svg') no-repeat center;
  background-size:90% 90%;
  -o-background-size: 90% 90%;
  -webkit-background-size: 90% 90%;
}

.option_office{
  background: url('../img/cat_pics/man332.svg') no-repeat center;
  background-size:90% 90%;
  -o-background-size: 90% 90%;
  -webkit-background-size: 90% 90%;
}

.option_class{
  background: url('../img/cat_pics/class6.svg') no-repeat center;
  background-size:90% 90%;
  -o-background-size: 90% 90%;
  -webkit-background-size: 90% 90%;
}

.option_party{
  background: url('../img/cat_pics/man204.svg') no-repeat center;
  background-size:90% 90%;
  -o-background-size: 90% 90%;
  -webkit-background-size: 90% 90%;
}

.option_wildcard{
  background: url('../img/cat_pics/easteregg.svg') no-repeat center;
  background-size:90% 90%;
  -o-background-size: 90% 90%;
  -webkit-background-size: 90% 90%;
}

.cat_row a:hover .option-thumb, .cat_row a:focus .option-thumb{
  border-color: #a43a32 !important;
}

 /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .phoodeez-brand p{
          display: none;
        }
    }

