<div class="container cartContainer" ng-show="cartToggle">
	<div class="row cartContainer_row">
		<div class="col-md-offset-7 col-md-5">
			<div class="dropdown-cart">	
				<div class="empty_cart" ng-show="!cartObjects.length > 0">
					<p><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></p>
					Your cart is empty.
				</div>	
				<div class="cart_content" ng-show="cartObjects.length > 0">
				<div class="short_notice" ng-show="totalTotal<100">{{(100-totalTotal)|currency}} required to continue</div>
				<div class="cart_action">
					<div class="btn-group">
						<button class="btn btn-danger btn-lg" ng-disabled="totalTotal<10" type="submit">Add to Calendar</button>
					</div>
					<div class="btn-group">
						<button ng-click="startCheckout((totalTotal|number:2), cartObjects, loggedIn.id)" class="btn btn-primary btn-lg" ng-disabled="totalTotal<10" type="submit">Checkout</button>
					</div>
				<hr>
				</div><!-- .cart_action -->
					<div ng-repeat="cartItem in cartObjects">
				        Order from <b>{{cartItem.vendorName}}</b>
				        <div class="row cart_container" ng-repeat="cartList in cartItem.cart">
				        	<div class="cart_item_wrapper" ng-hide="cartitemDelete">
				        		<div class="col-xs-9">
				        			<div class="cart_item_qty">
				        				<input type="number" ng-pattern="/^[0-9]{1,2}$/" min="0" max="99" ng-model="cartList.itemQty" value="{{cartList.itemQty}}">
				        			</div>
				        			<div class="cart_item_name">
				        				<div class="sub_item_name">{{cartList.itemName}}</div>
				        				<div class="sub_item_note">{{cartList.itemNotes}}</div>
				        				<div class="sub_item_edit-delete">
				        					<a href="#" ng-click="cartitemAction(cartItem.packageID,cartList.$$hashKey,'edit')">Edit</a> | 
				        					<a href="#" ng-click="cartitemDelete = true">Delete</a>
				        				</div>
				        			</div>
				        		</div>
				        		<div class="col-xs-3">
				        			<div class="cart_item_price">{{(cartList.itemQty * cartList.itemPrice)|currency}}</div>
				        		</div>
				        </div><!-- .cart_item_wrapper -->	
				        	<div class="cart_item_delete" ng-show="cartitemDelete">
				        		<b>Remove {{cartList.itemName}} ({{cartList.itemQty}})?</b> 
				        			<a href="#" ng-click="cartitemAction(cartItem.packageID,cartList.$$hashKey,'delete')">Yay</a> | <a href="#" ng-click="cartitemDelete = false">Nay</a>
				        	</div><!-- .cart_item_delete -->
				        </div><!-- .cart_container -->


				        
				    </div>	<!-- cartObjects -->
				    <div class="cart_sum">
				    <hr>	
				    	<div class="row cart_subTotal">
				    		<div class="text col-xs-9">Sub-Total:</div>
				    		<div class="num col-xs-3">{{subTotal|currency}}</div>
				    	</div>
				    	<div class="row cart_delFee">
				    		<div class="text col-xs-9">Delivery Fee:</div>
				    		<div class="num col-xs-3">$30.00</div>
				    	</div>
				    	<div class="row cart_salesTax">
				    		<div class="text col-xs-9">Sales Tax:</div>
				    		<div class="num col-xs-3">{{salesTax|currency}}</div>
				    	</div>
				    	<div class="row cart_saleTotal">
				    		<div class="text col-xs-9">Total:</div>
				    		<div class="num col-xs-3">{{totalTotal|currency}}</div>
				    	</div>

				    </div> <!-- .cart_sum -->
				</div>
			</div>
		</div>
	</div><!-- .row -->
</div>