   <h1 class="phoodeez_funnel">
    <span ng-show="!loggedIn.first_name">Hello, what are you ordering for?</span>
    <span ng-show="loggedIn.first_name">Hi {{loggedIn.first_name}}, what are you ordering for?</span>
   </h1>

    <div class="row cat_row">
        <div ng-repeat="category in categories">
            <div class="col-sm-2 option_item" ng-class="{'col-sm-offset-1': $first}">
                <a ui-sref="cat({ funnelID: '{{category.term_id}}' })">
                    <div class="thumbnail option-thumb" ng-style="{'background-image':'url({{category.img_path}})'}"></div>
                    <p>{{category.name}}</p>
                </a>
            </div>
     </div><!-- ng_repeat -->
    </div><!-- .cat_row -->
       </footer>
<img class="pade-loader" ng-src="{{rootPath}}img/page_loader.svg" ng-show="pageLoad">