<div class="row accountPage">
    <div class="col-sm-3 col-sm-offset-1 accountSidebar">
        <h3 class="accountSidebar_header">Your Account</h3>
        <ul class="accountSidebar_links">
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ui-sref="history">Order History</a></li>
            <li><a ui-sref="payments" class="active">Payments</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-sm-offset-1 accountMain">
    	<h4 class="accountMain_header">Payments</h4>
    </div>
</div><!-- .row -->
<img class="pade-loader" ng-src="{{rootPath}}img/page_loader.svg" ng-show="pageLoad">