
<!-- Login Modal -->
<script type="text/ng-template" id="login">
    <div class="modal-header">
    	<button type="button" class="close" ng-click="cancel()"	 aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title login-title">
        	<span ng-show="!signupbox">Sign in</span>
        	<span ng-show="signupbox">Create Account</span>

        </h4>
    </div>
    <div class="modal-body login-modal-body">


     <form name="loginForm" ng-show="!signupbox" ng-submit="login(credentials)" novalidate>
		  <div class="form-group">
		    <label for="loginUsername">Email address</label>
		    <input type="text" ng-model="credentials.username" class="form-control" id="loginUsername" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <label for="loginPassword">Password</label>
		    <input type="password" ng-model="credentials.password" class="form-control" id="loginPassword" placeholder="Password">
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Remember me
		    </label>
		  </div>
		  <button type="submit" class="btn btn-primary phoodeez-login">Sign in</button>
	</form>


	<form name="signupForm" ng-show="signupbox" ng-submit="signUp(signup)" novalidate>
		<div>{{signmsg}}</div>
		<label for="firstName">Name</label>
		<div class="form-inline create_name_form">
				<div class="form-group">
			    	<input type="text" ng-model="signup.firstname" class="form-control" id="firstName" placeholder="First Name">
			  </div>
			  <div class="form-group">
			    <input type="text" ng-model="signup.lastname" class="form-control" placeholder="Last Name">
			  </div>
		</div>
		<div class="form-group create_email_form">
			    <label for="createEmail">Email address</label>
			    <input type="email" class="form-control" ng-model="signup.email" id="createEmail" placeholder="Enter email">
		</div>
		<div class="form-group">
	    <label for="createPw">Create Password</label>
	    <input type="password" class="form-control" ng-model="signup.password1" id="createPw" placeholder="Password">
	    <input type="password" class="form-control create_pw2_form" ng-model="signup.password2" placeholder="Confirm Password">
	  	</div>
	  	<button type="submit" class="btn phoodeez-login btn-primary" ng-show="signupbox">Create Account</button> 
	</form>



<div class="login_span_cont" ng-show="!signupbox"><span class="login_span">OR</span></div>
<hr class="login_seperator">    

	<button class="btn phoodeez-login btn-danger" ng-show="!signupbox" ng-click="signupbox=true; $event.preventDefault();">Create Account</button> 

	

	<span class="login_back" ng-show="signupbox"><a href="#" ng-click="signupbox=false; $event.preventDefault();"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to Sign in</a></span> 
    </div>

</script>


<!-- Package Order Modal -->
<script type="text/ng-template" id="package_order">
    <div class="modal-header">
    	<button type="button" class="close" ng-click="cancel()"	 aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
        	Add Package
        </h4>
    </div>
    <div class="modal-body package-modal-body">
    	<div class="row modal-package-desc">
    		<div class="col-sm-8">
    			<p class="lead packageName">{{packageData.Name}}</p>
    			<p class="lead packageDesc">{{packageData.Desc}}</p>
    		</div>
    		<div class="col-sm-4 package-order-info">
				<p>Total quantity: <b>10</b></p>
				<p>Total price: <b>$140.30</b></p>
				<button class="btn btn-primary">Add to Cart</button>
    		</div>
    	</div>
    	<div class="package-options-wrapper">
    			<p class="lead packageName">Choose options: </p>
    			<ul ng-repeat="options in packageData.Options">
	    			<li>
	    				<div class="row package-options-row">
	    					<div class="col-sm-9">
	    						<p class="lead package-options-title">{{options.title}}</p>
	    						<p class="lead package-options-desc">{{options.desc}}</p>
	    					</div> 
	    					<div class="col-sm-3 package-option-qty">
		    					<order-qty ng-model="totalValue" min="model.min" max="model.max" qty="0"></order-qty>
	    					</div>
	    				</div>
	    			</li>
    			</ul>

    	</div>
	
	</div>

</script>